:root {
  --text: #000000;
  --bg: #ffffff;
  --sans: Roboto, sans-serif;
  --mono: Inconsolata, monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font*/
  max-height: 999999999px;
  -webkit-tap-highlight-color: transparent;
}
html *:not(head *):not(script):not(style) {
  /* https://www.youtube.com/watch?v=bngsrbFI2UY&t=120s */
  display: flex;
}
body {
  width: 210mm;
  height: 297mm;
  /*https://www.hostinger.com/tutorials/best-html-web-fonts*/
  font-family: var(--sans);
  font-weight: 300;
  color: var(--text);
  background: var(--bg);
}
html {
  background: #000000;
}
