body {
  padding: 10mm;
  margin: 10mm;
  font-size: 3.3mm;
  line-height: 1.4;
  flex-direction: column;
}
h1 {
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  color: var(--text2);
  line-height: 1;
  padding-bottom: 0.25em;
}
/* https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/ */
* + h1 {
  padding-top: 1.5em;
}
h2 {
  font-weight: 500;
  font-size: 1em;
  align-items: center;
  line-height: 1;
  padding-top: 0.75em;
  padding-bottom: 0.25em;
}
p,
li {
  font-weight: 300;
  padding-left: 1em;
}
i {
  width: 1.5em;
  align-self: center;
}
ul {
  flex-direction: column;
}
ul li {
  display: list-item !important;
  list-style: none;
  position: relative;
}
/* https://stackoverflow.com/questions/7250381/html-entity-for-the-middle-dot */
ul li::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0.25em;
}
aside {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

header {
  white-space: pre;
  /* padding-bottom: 1em; */
  /* margin-top: -.1em; */
  font-size: 3em;
  line-height: 1.25;
  flex-direction: row;
}
header span {
  font-weight: 500;
}
footer > * {
  flex: 1;
}
main {
  flex-direction: row;
  flex: 1;
  padding: 2em 0;
  gap: 10mm;
}
section {
  flex-direction: column;
  justify-content: stretch;
}
section > * {
  flex: 1;
}
article {
  width: 15em;
  flex-direction: column;
  justify-content: stretch;
}
article > * {
  flex: 1;
}
time {
  font-weight: 300;
  font-size: 0.75em;
  font-style: italic;
  color: var(--text2);
}
code {
  font-family: var(--sans);
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-caps */
  font-variant-caps: small-caps;
  font-size: 0.9em;
  font-weight: 300;
  color: var(--text2);
  align-items: center;
}
ol {
  flex-direction: column;
  padding: 0;
}
ol li {
  padding: 0.5em 0;
  line-height: 1.25;
}
ol li span {
  flex-direction: column;
}
ol h2 {
  padding-top: 0;
}
hr {
  flex: 1;
  height: 0.2em;
  align-self: center;
  border: none;
  border-bottom: 0.025em solid var(--text);
  margin-left: 0.5em;
}
b {
  color: #f00;
  font-weight: inherit;
}

@media print {
  body {
    margin: 0;
  }
}

/* https://stackoverflow.com/questions/1542320/margin-while-printing-html-page */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@page/size */
@page {
  /* seems to load indefinitely on Chrome */
  /* size: A4 portrait; */
  margin: 0;
}
